html,
body {
  margin: 0;
  padding: 0;
}

.global-clearfix {
  zoom: 1;
}

.global-clearfix::after {
  display: block;
  content: '';
  height: 0;
  clear: both;
  visibility: hidden;
}

// iconfont图标全局样式

.iconfont {
  width: 1.125em;
  height: 1.125em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  padding: 0 4px;
}

// element-ui 全局样式

.el-table th {
  display: table-cell !important;
}

.el-pagination {
  text-align: right;
  margin-top: 20px;
}

// webkit滚动条全局样式

// 滚动条整体部分，可以设置宽度等
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

// 内层滚动槽
::-webkit-scrollbar-track-piece {
  background: 0 0;
}

// 滚动的滑块
::-webkit-scrollbar-thumb {
  background-color: #b4c7d0;
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
}
