html,
body {
  margin: 0;
  padding: 0;
}

.global-clearfix {
  zoom: 1;
}

.global-clearfix::after {
  display: block;
  content: '';
  height: 0;
  clear: both;
  visibility: hidden;
}

.iconfont {
  width: 1.125em;
  height: 1.125em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  padding: 0 4px;
}
